@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до лабораторної роботи №5</h1>
    <p>Цей веб-додаток створений для демонстрації різних аспектів роботи з ASP.NET Core MVC, включаючи автентифікацію, реєстрацію, та виконання підпрограм для лабораторних робіт 1, 2 та 3.</p>
    <p>Будь ласка, увійдіть або зареєструйтеся, щоб отримати доступ до функціональності програми.</p>
</div>