<h2>Лабораторні роботи</h2>
<p>Оберіть лабораторну роботу для виконання:</p>
<ul>
    <li><a asp-action="Lab1">Lab 1</a></li>
    <li><a asp-action="Lab2">Lab 2</a></li>
    <li><a asp-action="Lab3">Lab 3</a></li>
</ul>
